VITE_SUPABASE_URL="https://obskmtyfxfwgqzzekrmy.supabase.co"
VITE_SUPABASE_ANON_KEY="eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im9ic2ttdHlmeGZ3Z3F6emVrcm15Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzUwOTk0NTEsImV4cCI6MjA5MDY3NTQ1MX0.1OZ-_C0RQMZppBoIjjiloGsfBQhwq1iILH9p9UdIgJ0"
